{% extends 'navbar.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block head_extra %}

{% endblock %}

{% block content %}
<style>
  html, body {
      overflow: hidden;
  }

</style>


<div class="section-divider"></div>

<section class="video-hero">
    <video autoplay loop muted playsinline>
        <source src="{% static 'videos/5802032-hd_1920_1080_25fps.mp4' %}" type="video/mp4">
    </video>

    <div class="content-constraint">
        <div class="content cta-hero">
            <div style="text-align: center">
                <h1>Live Well with Coeliac Disease</h1>
                <h1>Track Gluten Intake & Symptoms</h1>
                <h1>Connect, Learn & Thrive</h1>
            </div>

        </div>
    </div>
</section>




{% endblock %}
