{% extends 'navbar.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="login-wrapper">
  <div class="split-container">

    <!-- LEFT PANEL -->
    <div class="left-panel">
      <img src="{% static 'images/Animation - 1744994365620.gif' %}" alt="Login illustration" class="login-gif">
      <div class="welcome-box">
        <h2>Hello, Welcome!</h2>
        <p>Don't Have An Account?</p>
        <div class="buttons">
          <a href="{% url 'SignUp' %}" class="blob-btn transition-link">
            Sign Up
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
            </span>
          </a>
        </div>
        

      </div>
    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">
      <div class="login-box">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="id_username"><i class='bx bxs-user'></i> Username</label>
            {{ form.username }}
          </div>

          <div class="form-group">
            <label for="id_password"><i class='bx bxs-lock'></i> Password</label>
            {{ form.password }}
          </div>

          <a href="{% url 'password_reset' %}" class="forgot-link">Forgot your password?</a>

          <button type="submit">Login</button>
        </form>
      </div>
    </div>

  </div>
</div>

  
    <div class="footer">
      <p>&copy; 2025 My Coeliac Guide. All rights reserved.</p>
    </div>

  </div>

  </div>
  </div>

  

 


{% endblock %}
